/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ebee22;
  font-family: 'Marvel';
  font-size: 22px;
}

ul,
ol {
  list-style: none
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

img {
  height: 100%;
}

button {
  cursor: pointer;
}

/*  */
.title {
  font-family: 'Arial Black', sans-serif;
  font-size: 2rem;
  color: white;
  background-color: #ed1d24;
  padding: 10px 10px;
  border: 5px solid #d4c9c9;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* Spaziatura tra le lettere */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  /* Effetto ombra per dare profondità */
  width: fit-content;
  /* Larghezza pari al contenuto */
  margin: 10px auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: 3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

form {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 4rem;
  font-size: larger;

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

  }

  button {
    padding: 12px;
    border-color: 1px solid black;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  overflow: hidden;
}

.clessidra {
  width: 100px;
  height: 100px;
  object-fit: cover;
  animation: rotate 3s linear infinite;
  margin-bottom: 1rem;
}

/* Animare un immagine, rotazione */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  font-size: 2rem;
  color: #007bff;
  font-weight: bold;
  font-style: oblique;
}

.notFound {
  font-size: 2rem;
  color: #6c13c0;
  font-weight: bold;
  font-style: oblique;
}

/* Form */
form {
  margin-top: 1rem;
}

.form-search {
  font-size: 18px;
  color: #0922fc;
  font-weight: bold;
  font-style: oblique;
}

input {
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  /* Rimuove il bordo blu predefinito */
  background-color: #f9f9f9;
  color: #a0230d;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Effetto ombra interno */
  transition: all 0.3s ease-in-out;
  /* Transizione fluida */
  font-style: oblique;
}

input::placeholder {
  color: #c3d1cfa9;
  font-size: 1rem;
  font-style: italic;
  opacity: 1;
}

.searchButton {
  position: relative;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #ff3c00;
  background-color: transparent;
  border: 2px solid #ff3c00;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-right: 1rem;
}

.searchButton::before,
.searchButton::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #ff3c00;
  transition: width 0.4s ease;
  z-index: -1;
}

.searchButton::after {
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
}

.searchButton:hover::before {
  width: 100%;
}

.searchButton:hover::after {
  width: 100%;
}

.searchButton:hover {
  color: #fff;
}

.searchButton:disabled {
  color: #ff0000;
  cursor: not-allowed;
  opacity: 0.7;
}