/* .buttonNavigate {
  position: relative;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #ff3c00;
  background-color: transparent;
  border: 2px solid #ff3c00;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
}

.buttonNavigate::before,
.buttonNavigate::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #ff3c00;
  transition: width 0.4s ease;
  z-index: -1;
}

.buttonNavigate::after {
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
}

.buttonNavigate:hover::before {
  width: 100%;
}

.buttonNavigate:hover::after {
  width: 100%;
}

.buttonNavigate:hover {
  color: #fff;
} */